body
{
    background-color: white;

}

/* HEADER */

.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px; 
    font-family: "Raleway";
    background-color: #E5F2F8;
}
.header div
{
    display: flex;
    align-items: center;
    height: 30px;
}

.header div:hover
{
    height: 100px;
    font-weight: bold;
    background-color: white;
    color: #2E7698;
    
}

/* ABOUT */
.about
{
    margin: 20px 50px 20px 50px;
    text-align: center;
    background-color: #6CB6E0;
    
}

.about-us
{
    background-color: #E5F2F8;
    font-family: "Raleway";
}